.motivational-section {
    display: grid;
    grid-area: 1/1;
    place-items: center center;
    height: 100vh;

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     h1 {
       font-size: 5rem;
     }
    button{
        padding: 1rem;
        border: 0.2rem;
        border-style: solid;
        background:  repeating-radial-gradient( circle 263px at 30.2% 3%,  #285430 31.1%, rgba(205,181,93,1) 16.4%, rgba(244,102,90,1) 50.9%, rgba(199,206,187,1) 48.7%, rgba(249,140,69,1) 62.5%, #285430 72.6% );
        border-radius: 30px;
        color: white;
        margin-right: 1.4rem;  
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;

        a {
            color: white;
        }
        
        
        
    }

    button:hover {
        background: repeating-radial-gradient( circle 63px at 30.2% 3%,  #285430 31.1%, rgba(205,181,93,1) 16.4%, rgba(244,102,90,1) 50.9%, rgba(199,206,187,1) 48.7%, rgba(249,140,69,1) 62.5%, #285430 72.6% );
        background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 1px solid gray;
        a {
            color:  rgba(111,27,27,1);
        }
    }
}