.navigation {
    z-index: 2;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    background-color: $background-navbar;
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    ul {
        
        list-style-type: none;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        position: relative;

        li {
            padding: 10px 10px 1px 1px;
            cursor: pointer;
        }
        
        a, a:focus, a:active {
            text-decoration: none;
            color: white;
            text-transform: capitalize;
            font-size: 1rem;
            padding: 5px;
            font-weight: 100;
            opacity: 70%;
       }
        a:hover {
            opacity: 100% ;
            
        }
    }
}

.toggle {
    display: none;
}

.link-logo {
    opacity: 50%;
    padding: 5px;
}
.link-logo:hover {
   opacity: 100%;
}

// MOBILE

@media screen and (max-width: 768px) {
    .navigation {
        flex-direction: column;
        width: 100%;
        ul {
            flex-direction: column;
            height: auto;
            

            li:nth-child(1) {
                border-top: 1px solid black;
                margin-top: 50px;
            }
            li {
                width: 100%;
                border-top: 1px solid black;
                text-align: center;
                margin: 0px;
                padding: 20px 0px 0px 0px;
            }
        }
        .Logo {
            width:100%; 
            padding: 5px;
            
        }
        .toggle {
            display:block;
            border: none;
            background: none;
            color:white;
            cursor: pointer;
            
        }
    }
}