.navigation {
    image-rendering: -webkit-optimize-contrast;
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .link-logo {
        opacity: 89%;
        margin-left: 40%;
         img {
            height: 6rem;
            width: auto; 
         }
    
       }
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: left;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 30px;
        margin-right: 3%;
        padding: 1.5rem 1rem 0.5rem 1rem;
        
        li {
            list-style-type: none;
            padding: 0rem 1rem 0rem 1rem;
           
            a {
                color: rgba(36, 89, 122, 1);
              
              opacity: 80%;
              padding: 0.5rem;
              border-radius: 3%;
              font-weight: 200;
            }
            a:hover {
             opacity: 100%;
             background-color: rgba(36, 89, 122, 0.1);
             
             
             
            }
           }
            
        
       }
}

.toggle {
    display: none;
}

.link-logo {
    opacity: 90%;
    
}
.link-logo:hover {
   opacity: 100%;
}

// MOBILE

@media screen and (max-width: 768px) {
    .navigation {
        flex-direction: column;
        width: 100%;
        img {
            width: 20px;
        }
        ul {
            flex-direction: column;
            justify-content: end;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.6);
            

            li:nth-child(1) {
                margin-top: 10px;
            }
            li {
                width: 100%;
                text-align: end;
                margin: 0px;
                padding: 20px 0px 0px 0px;
                a {
                    color: rgba(36, 89, 122, 1);
                }
            }
            li:nth-child(7) {
                margin-bottom: 10px;
            }
        }

        .relevant-nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .link-logo{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                opacity: 100%;
                
            }
            .toggle {
                display:flex;
                flex-direction: column;
                justify-content: end;
                border: none;
                background: none;
                color: rgba(36, 89, 122, 1);
                cursor: pointer;
                
            }

        }
        
        
    }
}