.unsigned-card {
    height: 100vh;
    padding: 0%;
    display: flex;
    flex-direction: row;
    width: 100vw;

    .grid-item1 {
        place-items: flex-start;
    }
    .grid-item2 {
        place-items: flex-end;
    }
    
   h1 {
    font-size: 5rem;
    
   }
    p {
        font-size: 1rem; 
        font-weight: 100;
        color: black;
    }
  
    img {
        width: 35rem;
    }

    button{
        padding: 1rem;
        border: 0.2rem;
        border-style: solid;
        background-color: transparent;
        color: black;
        border-radius: 30px;
        border-color: black;
        margin-right: 1.4rem;  

        h3 {
            font-weight: 200;
        }
        
        
    }

    button:hover {
        border-color: rgba(111,27,27,1);
        color:  rgba(111,27,27,1);
    }

    
}

#max {
    
}

#confidointe {
  
  
}

#casadimax {
    
   
}

#sardinienhunde {
    
}

@media screen and (max-width: 768px) {
    .unsigned-card {
       display: flex;
       flex-direction: column;
       max-width: 100vw;

       img {
        width: 500px;
        margin-top: 5%;
       }

       h1 {
        font-size: 2rem;
       }
       
       p {
        font-size: 10px;
       }

       button {
        width: 500px;
       }
       .grid-item1 {
         place-items: center ;
         
       }

       .grid-item2 {
         place-items: center;
         
         .unsigned-card-content {
            h1 {
            font-size: 1rem;
         }
        } 
       }

    }
}
