.unsigned-card {
    height: 100vh;
    padding: 0%;
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100vw;
    
   h1 {
    font-size: 5rem;
    
   }
    p {
        font-size: 1rem; 
        font-weight: 100;
        color: black;
    }
  
    img {
        width: 35rem;
    }

    button{
        padding: 1rem;
        border: 0.2rem;
        border-style: solid;
        background-color: transparent;
        color: black;
        border-radius: 30px;
        border-color: black;
        margin-right: 1.4rem;  

        h3 {
            font-weight: 200;
        }
        
        
    }

    button:hover {
        border-color: rgba(111,27,27,1);
        color:  rgba(111,27,27,1);
    }

    
}

#max {
    img {
        width: 40rem;
    }
}

#confidointe {
  
  
}

#casadimax {
    
   
}

#sardinienhunde {
    
}

