.WelcomeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 0rem;
    margin-bottom: 10rem;

    .Title {
        margin:0;
        padding:0;
        h1 {
            font-size: 4rem;
            color: black;
        }
    }
    .Media {
        margin:0;
        padding:0;
        width: 100%;
        
        
    }
}

@media screen and (max-width: 768px) {
    .WelcomeSection {
       img {
        display: hide;
       }

    }
}
