.WelcomeSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    padding: 0rem;

    .Title {
        margin:0;
        padding:0;
        h1 {
            font-size: 4rem;
            color: black;
        }
    }
    .Media {
        margin:0;
        padding:0;
        width: 100rem;
        img {
            width: 100rem;
            height: auto;
            }
    }
}


