
*{
   
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    ul {
      list-style-type: none;
    }

    a {
        text-decoration: none;
        color: rgba(111,27,27,1);;
    }

    h1 {
        font-size: 7rem;
        background: repeating-radial-gradient( circle 263px at 30.2% 3%,  #285430 31.1%, rgba(205,181,93,1) 16.4%, rgba(244,102,90,1) 50.9%, rgba(199,206,187,1) 48.7%, rgba(249,140,69,1) 62.5%, #285430 72.6% );
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h2 {
        background: repeating-radial-gradient( circle 63px at 30.2% 3%,  #285430 31.1%, rgba(205,181,93,1) 16.4%, rgba(244,102,90,1) 50.9%, rgba(199,206,187,1) 48.7%, rgba(249,140,69,1) 62.5%, #285430 72.6% );
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
 }

body {
    padding: 0%;
    margin: 0%;
    border: 0vh;
    
    }

   

main {
    padding: 0%;
    margin: 0%;
    border: 0vh;
    max-width: 100vw;
    
    
    
       
    }
   


@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
    }
    main {
        max-width: 768px;
    }
}