
*{
   
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    ul {
      list-style-type: none;
    }

    a {
        text-decoration: none;
        color: black;
    }
 }

body {
    padding: 0%;
    margin: 0%;
    border: 0vh;
    background-color: $green;
}
main {
    padding: 0%;
    margin: 0%;
    border: 0vh;
    max-width: 90rem;
    background-color: $green;
}