
*{
   
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    ul {
      list-style-type: none;
    }

    a {
        text-decoration: none;
        color: black;
    }
 }

body {
    padding: 0%;
    margin: 0%;
    border: 0vh;
    background-color: white;
   
}
main {
    padding: 0%;
    margin: 0%;
    border: 0vh;
    max-width: 100vw;
    background-color: white;
   
}

@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
    }
    main {
        max-width: 768px;
    }
}